header {
  background: #ff7f00;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 153px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 153px;
}

.searchtype-btn:focus {
  outline: none;
  box-shadow: none;
}

.input:focus {
  outline: none !important;
  border: 1px solid darkgray;
  box-shadow: 0 0 10px gray;
}

thead {
  background: grey;
  color: white;
}

.table-sortable th,
input[type="radio"]:not(old) {
  cursor: pointer;
}

tr[data-href] {
  cursor: pointer;
}

.table-sortable .th-sort-asc::after {
  content: "▴";
}

.table-sortable .th-sort-desc::after {
  content: "▾";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
  margin: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
  background: rgba(0, 0, 0, 0.1);
}

input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
